// 　颜色定义规范
$color-background: #f2f2f2;
$color-background-d:  #222222;
$color-background-l:  #ffffff;
$color-background-fffffffffffff: #efefef;
$color-background-dialog: rgba(0,0,0,.7);
$color-text: #fff;
$color-text-d: #373737;
$color-text-ml: #666666;
$color-text-l: #999999;
$color-text-ll: #bebebe;
$color-border-d: #dedede;
$color-border: #f2f2f2;
$color-border-l: #ffffff;

$color-gradient1: linear-gradient(-50deg, #7561d4, #5380d5);
$color-gradient2: linear-gradient(-50deg, #d7269c, #8253cd);
$color-gradient3: linear-gradient(-50deg, #f3a04a, #fa6c4a);
$color-gradient4: linear-gradient(-50deg, #e7c484, #f9a322);
$color-gradient-gray: linear-gradient(-50deg, #666666, #999999);

$color-theme: #BB299B;
$color-theme-d: #7f57d4;
$color-warn: #f44336;
$color-money: #00ffff;

//字体定义规范
$font-size-small-s: 10px;
$font-size-small: 12px;
$font-size-medium: 14px;
$font-size-medium-x: 16px;
$font-size-large: 18px;
$font-size-large-x: 22px;